In [19]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("FlightDelayPrediction").getOrCreate()
data=spark.read.option("header","true").csv("data/2011.csv")
data1=spark.read.option("header","true").csv("data/2012.csv")
data=data.union(data1)
len(data.columns)

28

In [14]:
data.isna().sum()

FL_DATE                    0
OP_CARRIER                 0
OP_CARRIER_FL_NUM          0
ORIGIN                     0
DEST                       0
CRS_DEP_TIME               0
DEP_TIME                 353
DEP_DELAY                353
TAXI_OUT                 360
WHEELS_OFF               360
WHEELS_ON                373
TAXI_IN                  373
CRS_ARR_TIME               0
ARR_TIME                 373
ARR_DELAY                402
CANCELLED                  0
CANCELLATION_CODE      29633
DIVERTED                   0
CRS_ELAPSED_TIME           0
ACTUAL_ELAPSED_TIME      402
AIR_TIME                 402
DISTANCE                   0
CARRIER_DELAY          21262
WEATHER_DELAY          21262
NAS_DELAY              21262
SECURITY_DELAY         21262
LATE_AIRCRAFT_DELAY    21262
Unnamed: 27            30000
dtype: int64

In [11]:
from datetime import datetime
data["ID"]=data.index.astype(str) 
data

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,...,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27,ID
0,2010-01-01,MQ,4438,LGA,RDU,1940,2101.0,81.0,14.0,2115.0,...,106.0,70.0,431.0,0.0,0.0,0.0,0.0,77.0,NaN,0
1,2010-01-01,MQ,4440,DCA,JFK,950,949.0,-1.0,13.0,1002.0,...,60.0,38.0,213.0,NaN,NaN,NaN,NaN,NaN,NaN,1
2,2010-01-01,MQ,4443,LGA,RDU,900,937.0,37.0,11.0,948.0,...,91.0,77.0,431.0,NaN,NaN,NaN,NaN,NaN,NaN,2
3,2010-01-01,MQ,4445,RDU,LGA,1940,1935.0,-5.0,12.0,1947.0,...,80.0,64.0,431.0,NaN,NaN,NaN,NaN,NaN,NaN,3
4,2010-01-01,MQ,4447,JFK,DCA,2035,2236.0,121.0,18.0,2254.0,...,66.0,47.0,213.0,0.0,0.0,0.0,0.0,102.0,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,2010-01-02,WN,3674,LAS,ONT,1925,2036.0,71.0,8.0,2044.0,...,48.0,32.0,197.0,12.0,0.0,0.0,0.0,47.0,NaN,29995
29996,2010-01-02,WN,5752,LAS,ONT,950,1005.0,15.0,16.0,1021.0,...,52.0,32.0,197.0,NaN,NaN,NaN,NaN,NaN,NaN,29996
29997,2010-01-02,WN,580,LAS,PDX,1940,2020.0,40.0,11.0,2031.0,...,135.0,121.0,762.0,22.0,0.0,0.0,0.0,8.0,NaN,29997
29998,2010-01-02,WN,2796,LAS,PDX,1335,1422.0,47.0,20.0,1442.0,...,144.0,122.0,762.0,0.0,0.0,4.0,0.0,37.0,NaN,29998
29999,2010-01-02,WN,5836,LAS,PDX,810,810.0,0.0,9.0,819.0,...,138.0,125.0,762.0,NaN,NaN,NaN,NaN,NaN,NaN,29999

In [20]:
import pandas as pd
data=pd.read_csv("/home/rohanpatankar/ml_prject_end_to_edn/flight_delay/flight_data_csv/part-00000-79ddd8aa-b4f2-4aad-afbc-5696232f6d88-c000.csv")
data.columns

Index(['FL_DATE', 'OP_CARRIER', 'OP_CARRIER_FL_NUM', 'ORIGIN', 'DEST',
       'CRS_DEP_TIME', 'DEP_TIME', 'DEP_DELAY', 'TAXI_OUT', 'WHEELS_OFF',
       'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'CANCELLED', 'CANCELLATION_CODE', 'DIVERTED', 'CRS_ELAPSED_TIME',
       'ACTUAL_ELAPSED_TIME', 'AIR_TIME', 'DISTANCE', 'CARRIER_DELAY',
       'WEATHER_DELAY', 'NAS_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY',
       'Unnamed: 27'],
      dtype='object')